<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PSLBG7C');</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JXCE52JMN3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JXCE52JMN3');
</script>


<script>
function sendReadEvent(author, title, numberOfCharacters) {
    gtag('event', 'read_article', {
        "author": author,
        "title": title,
        "number_of_characters": numberOfCharacters,
    });
}
  
function sendArtReadEvent(artikelnamn, tid) {
    gtag('event', 'read_article_new', {
        "artikelnamn": artikelnamn,
        "tid": tid,
    });
 }

document.addEventListener("DOMContentLoaded", () => {

    const readArticle1Button = document.getElementById("knapp1");

    if (readArticle1Button) {
        // Skickar event vid klick på artikel 1
        readArticle1Button.addEventListener("click", () => {
            sendReadEvent("MG", "Article 1", 50)
        });

        // Skickar event vid klick på artikel 2
        document.getElementById("knapp2").addEventListener("click", () => {
            sendReadEvent("KC", "Article 2", 100)
        });

        // Skickar event vid klick på artikel 3
        document.getElementById("knapp3").addEventListener("click", () => {
            sendReadEvent("JD", "Article 3", 150)
        });
      
      //Skickar event vid klick på "Min första artikel"
      document.getElementById("knapp4").addEventListener("click", () => {
            sendArtReadEvent("Min första artikel", 2)
      });
      }
  
  });

</script>

